* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefffe;
}
header nav .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 150px;
  height: 130px;
}
header nav ul {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  text-decoration: none;
  color: #554e9e;
}
header nav ul li a img {
  margin-bottom: 20px;
}
header nav ul li .active {
  background-color: #fe6601;
  color: white;
}
header nav ul li .active img {
  filter: brightness(100);
}
header .end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: #554e9e;
  color: white;
}
header .end p {
  font-size: 2em;
}
header .end a {
  padding: 15px;
  border: 2px solid white;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
