* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefffe;
}
header nav .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 150px;
  height: 130px;
}
header nav ul {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  text-decoration: none;
  color: #554e9e;
}
header nav ul li a img {
  margin-bottom: 20px;
}
header nav ul li .active {
  background-color: #fe6601;
  color: white;
}
header nav ul li .active img {
  filter: brightness(100);
}
header .slider {
  width: 100%;
}
header .slider .img-1 {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url("../img/images-alt/slider_slide2_background.png");
}
header .slider .img-1 .box {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 300px;
  font-size: 20px;
}
header .slider .img-1 .box p {
  font-size: 2em;
  color: #fe6601;
  font-family: "Shadows Into Light", cursive;
}
header .slider .img-1 .box h1, header .slider .img-1 .box h2 {
  color: #554e9e;
  font-size: 3em;
}
header .slider .img-1 .box h2 {
  font-weight: lighter;
  margin-bottom: 15px;
}
header .slider .img-1 .box a {
  padding: 15px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fe6601;
  color: white;
}
header .slider .img-1 .bambino {
  position: absolute;
  right: 400px;
  top: 20px;
  z-index: 2;
}
header .slider .img-1 .bambina {
  position: absolute;
  right: 100px;
  top: 50px;
  z-index: 1;
}
header .end {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: #554e9e;
  color: white;
}
header .end p {
  font-size: 2em;
}
header .end a {
  padding: 15px;
  border: 2px solid white;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

main .info {
  padding: 30px;
  text-align: center;
  margin-bottom: 80px;
}
main .info h2 {
  font-weight: normal;
  font-size: 3.5em;
  color: #554e9e;
}
main .info p {
  color: #A0A0A0;
}
main .info .divider {
  margin-top: 20px;
  margin-bottom: 50px;
}
main .info .card {
  display: inline-block;
  width: calc((100% / 4) - 80px);
}
main .info .card .orange {
  display: inline-block;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 50%;
  background-color: #fe6601;
}
main .info .card .purple {
  display: inline-block;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 50%;
  background-color: #554e9e;
}
main .info .card h2 {
  font-weight: normal;
  font-size: 1.5em;
  color: #554e9e;
}
main .slide-2 {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #F5F5F5;
}
main .slide-2 .box {
  max-width: 450px;
}
main .slide-2 .box .active {
  position: relative;
  background-color: #fe6601;
  color: white;
  border-bottom: none;
}
main .slide-2 .box .active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  height: 20px;
  width: 20px;
  background-color: #fe6601;
}
main .slide-2 .box button {
  margin-bottom: 30px;
  padding: 20px;
  font-size: 1.3em;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #A0A0A0;
  color: #A0A0A0;
}
main .slide-2 .box button:not(:last-of-type) {
  margin-right: 20px;
}
main .slide-2 .box > p {
  color: #554e9e;
  font-size: 1.6em;
  margin-bottom: 20px;
}
main .slide-2 .box .specific {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
main .slide-2 .box .specific span {
  background-color: #fe6601;
  padding: 20px;
  border-radius: 50%;
  margin-right: 20px;
}
main .slide-2 .box .specific h3 {
  color: #554e9e;
  font-size: 1.4em;
}
main .slide-2 .box .specific p {
  color: #A0A0A0;
}
