<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">

    <title>Fable</title>
  </head>
  <body>
    <!-- div per vue -->
    <div id="app">

      <header>
        <nav>
          <div class="container-space maxWidth">
            <img src="img/images-alt/logo.png" alt="Immagine logo fable" class="logo">
            <ul>
              <li v-for="element in links">
                <a href="#" :class="{ active: element.isActive }">
                  <img :src="element.img" alt="">
                  <p>{{ element.text }}</p>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="slider">
          <div class="img-1">
            <div class="maxWidth container-start">
              <div class="box">
                <p>Friendly Atmosphere</p>
                <h1>Welcoming Place</h1>
                <h2>For every child</h2>
                <a href="#">Buy this theme now</a>
              </div>
              <img src="img/images-alt/slider_slide2_img1.png" alt="Immagine bambino" class="bambino">
              <img src="img/images-alt/slider_slide2_img2.png" alt="Immagine bambina" class="bambina">
            </div>
          </div>
        </div>

        <div class="end">
          <div class="maxWidth container-space">
            <p>How to Enroll Your Child to a class?</p>
            <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </header>

      <main>
        <section class="info maxWidth">
          <h2>Welcome to Fable</h2>
          <p>Fable daycare, preschool, and kindergarten</p>

          <div class="">
            <img src="img/images-alt/header_divider.png" alt="" class="divider">
          </div>

          <div class="container-space">

            <div class="card" v-for="element in cards">
              <span :class="element.color">
                <img :src="element.img" alt="">
              </span>
              <h2>{{ element.title }}</h2>
              <p>{{ element.text }}</p>
            </div>

          </div>
        </section>

        <section class="slide-2">
          <div class="maxWidth container-space">

            <div class="box">
              <button type="button" name="button" class="active">Overview</button>
              <button type="button" name="button">Our Mission</button>
              <p>Our philosophy is learning through play as we offer a simulating environment for children.</p>

              <div class="specific">
                <span><img src="img/images-alt/clock_alt.png" alt="Immagine orologio"></span>
                <div class="">
                  <h3>Full Day sessions</h3>
                  <p>Pulvinar est metro ligula blandit maecenas retrum gravida cuprum. Maecenas node estibulum.</p>
                </div>
              </div>

              <div class="specific">
                <span><img src="img/images-alt/diagram_alt.png" alt="Immagine diagramma"></span>
                <div class="">
                  <h3>Varied Classes</h3>
                  <p>Pulvinar est metro ligula blandit maecenas retrum gravida cuprum. Maecenas node estibulum.</p>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="img">
                <button type="button" name="button" class="prev"><i class="fas fa-chevron-left"></i></button>
                <button type="button" name="button" class="next"><i class="fas fa-chevron-right"></i></button>
              </div>
              <div class="images">
                <img src="img/images-alt/gallery_07-690x506.jpg" class="active" alt="Immagine bambine">
                <img src="img/images-alt/gallery_01.jpg" alt="Immagine bambini">
                <img src="img/images-alt/gallery_08-690x506.jpg" alt="Imaggine persona che sorride">
              </div>
            </div>

          </div>
        </section>

        <section class="classes">
          <div class="container maxWidth">
            <h2>Our Classes</h2>
            <p>Our preschool program has four dedicated classes</p>

            <div class="">
              <img src="img/images-alt/header_divider.png" alt="" class="divider">
            </div>

            <div class="container-space">
              <h3 class="widthBlocks">We provided four classes with nine to twenty children each aged twelve mounth to five years of age.</h3>
              <p class="widthBlocks">Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis. Aenean interdum, nibh vitae sodales, magna ante feugiat elit maecenas</p>

              <div class="widthBlocks card" v-for="element in classes">

                <div class="info">
                  <p class="white title">{{ element.title }}</p>
                  <p>{{ element.name }}</p>
                  <div class="data">

                    <div class="mounth">
                      <p class="white">{{ element.data }}</p>
                      <p>{{ element.time }}</p>
                    </div>

                    <div class="class">
                      <p class="white">{{ element.size }}</p>
                      <p>Classe size</p>
                    </div>

                  </div>
                </div>
                <img :src="element.img" alt="">



              </div>
            </div>


          </div>
        </section>

        <section class="lists">
          <div class="container maxWidth">
            <div class="left">
              <h3>We haven been educating children for over fifteen years. Our goal is to create a place that engages each child.</h3>
              <p>Praesent arcu gravida vehicula est node maecenas loareet morbi a dosis luctus. Urna eget lacinia eleifend praesent luctus a arcu quis facilisis venenatis aenean interdum.</p>

              <ul>
                <li><img src="img/images-alt/style_1.png" alt=""> Comprehnsive reporting on individual achievement</li>
                <li><img src="img/images-alt/style_1.png" alt=""> Educational field trips and school presentations</li>
                <li><img src="img/images-alt/style_1.png" alt=""> Individual attention in a small-class setting</li>
                <li><img src="img/images-alt/style_1.png" alt=""> Learning program with after-school care</li>
                <li><img src="img/images-alt/style_1.png" alt=""> Opportunities to carry out scientific investigations</li>
                <li><img src="img/images-alt/style_1.png" alt=""> Positive learning environment for your child</li>
              </ul>
            </div>

            <div class="right">

              <div class="block">
                <span><img src="img/images-alt/toy.png" alt=""></span>
                <h3>Learn & Fun</h3>
                <p>Praesent modea est gravida node vehicula luctus.</p>
              </div>

              <div class="block">
                <span><img src="img/images-alt/meal.png" alt=""></span>
                <h3>Healty Meals</h3>
                <p>Terminal interdum a eleifend maecenas est morbi.</p>
              </div>

              <div class="block">
                <span><img src="img/images-alt/school.png" alt=""></span>
                <h3>Friendly Place</h3>
                <p>Terminal interdum a eleifend maecenas est morbi.</p>
              </div>

              <div class="block">
                <span><img src="img/images-alt/shield.png" alt=""></span>
                <h3>Children Safety</h3>
                <p>Praesent modea est gravida node vehicula luctus.</p>
              </div>

            </div>
          </div>
        </section>

        <section class="gallery">
          <div class="photos">
            <img src="img/images-alt/gallery_01.jpg" alt="">
            <img src="img/images-alt/gallery_02.jpg" alt="">
            <img src="img/images-alt/gallery_03.jpg" alt="">
            <img src="img/images-alt/gallery_04.jpg" alt="">
          </div>

          <div class="view">
            <div class="maxWidth">
              <p>See Your Kindergarten Photo Gallery</p>
              <a href="#">View gallery <i class="fas fa-chevron-right"></i></a>
            </div>
          </div>

          <div class="slider3">
            <img src="img/images-alt/parallax_02.jpg" alt="">
          </div>
        </section>
      </main>

    </div>
    <!-- /div per vue -->

    <script src="js/data.js"></script>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
