<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">

    <title>Fable</title>
  </head>
  <body>
    <!-- div per vue -->
    <div id="app">

      <header>
        <nav>
          <img src="img/images-alt/logo.png" alt="Immagine logo fable" class="logo">
          <ul>
            <li v-for="element in links">
              <a href="#" :class="{ active: element.isActive }">
                <img :src="element.img" alt="">
                <p>{{ element.text }}</p>
              </a>
            </li>
          </ul>
        </nav>

        <div class="slider">
          <div class="img-1">
            <div class="box">
              <p>Friendly Atmosphere</p>
              <h1>Welcoming Place</h1>
              <h2>For every child</h2>
              <a href="#">Buy this theme now</a>
            </div>
            <img src="img/images-alt/slider_slide2_img1.png" alt="Immagine bambino" class="bambino">
            <img src="img/images-alt/slider_slide2_img2.png" alt="Immagine bambina" class="bambina">
          </div>
        </div>

        <div class="end">
          <p>How to Enroll Your Child to a class?</p>
          <a href="#">Learn More <i class="fas fa-chevron-right"></i></a>
        </div>
      </header>

      <main>
        <section class="info">
          <h2>Welcome to Fable</h2>
          <p>Fable daycare, preschool, and kindergarten</p>
          <div class="">
            <img src="img/images-alt/header_divider.png" alt="" class="divider">
          </div>
          <div class="card" v-for="element in cards">
            <span :class="element.color">
              <img :src="element.img" alt="">
            </span>
            <h2>{{ element.title }}</h2>
            <p>{{ element.text }}</p>
          </div>
        </section>
      </main>

    </div>
    <!-- /div per vue -->

    <script src="js/data.js"></script>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
