
header {
  nav {
    @include flex-center;
    background-color: $sugarcane;
    .logo {
      display: inline-block;
      vertical-align: middle;
      margin-right: 150px;
      height: 130px;
    }
    ul {
      display: inline-block;
      list-style: none;
      vertical-align: middle;
      li {
        display: inline-block;
        a {
          @include flex-center;
          flex-direction: column;
          padding: 30px;
          text-decoration: none;
          color: $butterflybush;
          img {
            margin-bottom: 20px;
          }
        }
        .active {
          background-color: $blazeorange;
          color: white;
          img {
            filter: brightness(100);
          }
        }
      }
    }
  }
  .end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: $butterflybush;
    color: white;
    p {
      font-size: 2em;
    }
    a {
      padding: 15px;
      border: 2px solid white;
      text-transform: uppercase;
      text-decoration: none;
      color: white;
    }
  }
}
