main {
  .info {
    padding: 30px;
    text-align: center;
    margin-bottom: 80px;
    background-color: $sugarcane;
    h2 {
      font-weight: normal;
      font-size: 3.5em;
      color: $butterflybush;
    }
    p {
      color: $grey;
    }
    .divider {
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .card {
      display: inline-block;
      width: calc(100% / 4);
      .orange {
        display: inline-block;
        margin-bottom: 20px;
        padding: 50px;
        border-radius: 50%;
        background-color: $blazeorange;
      }
      .purple {
        display: inline-block;
        margin-bottom: 20px;
        padding: 50px;
        border-radius: 50%;
        background-color: $butterflybush;
      }
      h2 {
        font-weight: normal;
        font-size: 1.5em;
        color: $butterflybush;
      }
    }
  }
  .slide-2 {
    padding: 30px;
    background-color: $whitegreen;
    .box {
      max-width: 450px;
      .active {
        position: relative;
        background-color: $blazeorange;
        color: white;
        border-bottom: none;
        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
          height: 20px;
          width: 20px;
          background-color: $blazeorange;
        }
      }
      button {
        margin-bottom: 30px;
        padding: 20px;
        font-size: 1.3em;
        outline: none;
        border: none;
        background: none;
        border-bottom: 1px solid $grey;
        color: $grey;
        &:not(:last-of-type) {
          margin-right: 20px;
        }
      }
      > p {
        color: $butterflybush;
        font-size: 1.6em;
        margin-bottom: 50px;
      }
      .specific {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        span {
          background-color: $blazeorange;
          padding: 30px;
          border-radius: 50%;
          margin-right: 20px;
        }
        h3 {
          color: $butterflybush;
          font-size: 1.4em;
        }
        p {
          color: $grey;
        }
      }
    }
    .slide {
      .img {
        position: relative;
        width: 500px;
        height: 367px;
        @include background-images("../img/images-alt/gallery_08-690x506.jpg");
        .prev {
          @include button-slider2;
          left: 0;
        }
        .next {
          @include button-slider2;
          right: 0;
        }
      }
      .images {
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;
        img {
          width: calc((100% / 3) - 5px);
        }
        .active {
          padding-bottom: 10px;
          border-bottom: 3px solid $blazeorange;
        }
      }
    }
  }
  .classes {
    padding: 30px;
    .container {
      @include flex-center;
      flex-direction: column;
      h2 {
        font-weight: normal;
        font-size: 3.5em;
        color: $butterflybush;
      }
      p {
        color: $grey;
      }
      .divider {
        margin-top: 20px;
        margin-bottom: 50px;
      }
      .container-space {
        flex-wrap: wrap;
        h3 {
          font-weight: normal;
          font-size: 2em;
          color: $butterflybush;
          margin-bottom: 50px;
        }
        > p {
          margin-bottom: 50px;
        }
        .widthBlocks {
          width: calc((100% / 2) - 10px);
        }
        > .card {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-wrap: nowrap;

          > .container-space {
            margin-bottom: 20px;
          }
          .info {
            width:  calc((100% / 2) + 30px);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            background-color: $victoria;
            .white {
              color: white;
            }
            .title {
              font-size: 1.8em;
            }
            .data {
              margin-top: 50px;
              .mounth {
                display: inline-block;
                border-right: 1px solid white;
                padding-right: 30px;
              }
              .class {
                display: inline-block;
                margin-left: 30px;
              }
            }
          }
          img {
            height: 201px;
            width:  calc((100% / 2) - 30px);
            flex-grow: 10;
          }
        }
      }
    }
  }
  .lists {
    padding: 30px;
    background-color: #F5F5F5;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left,
      .right {
        width: calc((100% / 2) - 10px);
      }
      .left {
        h3 {
          font-weight: normal;
          font-size: 1.8em;
          color: $butterflybush;
          margin-bottom: 50px;
        }
        p {
          color: $grey;
          margin-bottom: 50px;
        }
        ul {
          list-style: none;
          li {
            color: $grey;
            margin-bottom: 10px;
            img {
              margin-right: 10px;
              vertical-align: middle;
            }
          }
        }
      }
      .right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        .block {
          width: calc((100% / 2) - 10px);
          text-align: center;
          margin-bottom: 20px;
          span {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: white;
            img {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          h3 {
            margin: 15px 0;
            font-size: 1.4em;
            color: $butterflybush;
          }
          p {
            color: $grey;
          }
        }
      }
    }
  }
  .gallery {
    .photos {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      img {
        width: calc(100% / 4);
      }
    }
    .view {
      padding: 50px 30px;
      background-image: url("../img/images-alt/pattern.png");
      .maxWidth {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        p {
          font-size: 2em;
          font-weight: lighter;
        }
        a {
          padding: 15px;
          border: 1px solid white;
          text-decoration: none;
          text-transform: uppercase;
          color: white;
        }
      }
    }
    .slider3 {
      height: 700px;
      overflow: hidden;
    }
  }
}
