@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-slider2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  font-size: 2em;
  border: none;
  outline: none;
  background-color: $blazeorange;
  color: white;
}
